<!DOCTYPE html>
<html lang="kor">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    td{
        width: 100px;
        background-color: aquamarine;
        text-align: center;
    }
</style>
<body>
    test중 <br>
    2차 수정
    <hr>
    3차 수정 겨우됨. 왜 안됐지?
    <table>
        <tr>
            <td>번호</td>
            <td>이름</td>
            <td>날짜</td>
            <td>작성자</td>
            <td>조회수</td>
        </tr>
    </table>
</body>
</html>