<!DOCTYPE html>
<html lang="kor">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>처음 화면</title>
</head>
<style>
    .tt{
        width: 100px;
        background-color: aquamarine;
        text-align: center;
    }
</style>
<body>
    test중 <br>
    2차 수정
    <hr>
    3차 수정 겨우됨. 왜 안됐지?
    <table>
        <tr>
            <td class="tt">번호</td>
            <td class="tt">이름</td>
            <td class="tt">날짜</td>
            <td class="tt">작성자</td>
            <td class="tt">조회수</td>
        </tr>
        <tr>
            <td>1</td>
            <td>제일제당</td>
            <td>2025-05-15</td>
            <td>이병철</td>
            <td>146</td>
        </tr>
    </table>
    <hr>
    4차 수정. 강의 따라해보기
    <h3 th:text="${test}"></h3>
    <ul>
        <th:block th:each="no : ${#numbers.sequence(1,5)}">
            <li th:text="${no}"></li>
        </th:block>
    </ul>
</body>
</html>